.catalog__wrapper,
.catalig__products {
  display: flex;
  flex-direction: column;
}

.catalog__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.catalog {
  background-color: $lightest_grey;
  padding-top: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0 0 20px 0;
}

.catalog__badge {
  text-align: center;
  order: 0;
}

.catalog__products {
  padding-bottom: 45px;
}

.filter {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 43px;
  }
}

.catalog__filter-wrapper {
  padding-bottom: 7px;
  display: grid;
  justify-content: center;
}

.catalog__filter-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  padding-bottom: 22px;
}

.catalog__filter-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 22px;
  padding: 0;
}

.catalog__filter-input {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__filter-radio {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__checkbox-item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__filter-label {
  position: relative;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  box-sizing: border-box;
}

.catalog__radio-label {
  min-height: 24px;
  padding-left: 34px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $base_primary;
    background-color: transparent;
  }

  &::after {
    left: calc((24px - 14px) / 2);
    width: 14px;
    height: 14px;
    background-color: transparent;
  }
}

.catalog__filter-radio input[type="radio"]:not(:checked):focus:not(:disabled) + .catalog__radio-label,
.catalog__filter-radio input[type="radio"]:not(:checked):hover:not(:disabled) + .catalog__radio-label {
  &::before {
    border: 1px solid $base_primary;
  }

  &::after {
    background-color: $altprimary_opacity_25;
  }
}

.catalog__filter-radio input[type="radio"]:checked + .catalog__radio-label::after {
  background-color: $base_primary;
}

.catalog__filter-radio input[type="radio"]:disabled + .catalog__radio-label {
  color: $base_grey;
  cursor: default;

  &::before {
    border-color: $light_grey;
  }

  &::after {
    background-color: transparent;
  }
}

.catalog__filter-radio input[type="radio"]:disabled:checked + .catalog__radio-label {
  &::after {
    background-color: $light_grey;
  }
}

.catalog__checkbox-label {
  min-height: 24px;
  padding-left: 54px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    box-sizing: border-box;
    left: 0;
    width: 42px;
    height: 24px;
    background-color: $base_grey;
    border-radius: 12px;
    transition: 0.2s;
  }

  &::after {
    left: calc((42px - 20px) / 8);
    width: 20px;
    height: 20px;
    background-color: $base_white;
    border-radius: 50%;
    transition: 0.2s;
  }
}

.catalog__checkbox-item input[type="checkbox"]:focus:not(:disabled) + .catalog__checkbox-label,
.catalog__checkbox-item input[type="checkbox"]:hover:not(:disabled) + .catalog__checkbox-label {
  &::before {
    background-color: rgba($base_primary, $alpha: 0.25);
    border: 1px solid $base_primary;
    transition: none;
  }
}

.catalog__checkbox-item input[type="checkbox"]:checked + .catalog__checkbox-label::after {
  left: calc((42px - 20px) / 1.1);
}

.catalog__checkbox-item input[type="checkbox"]:checked + .catalog__checkbox-label::before {
  background-color: $base_primary;
}

.catalog__checkbox-item input[type="checkbox"]:disabled + .catalog__checkbox-label {
  color: $base_grey;
  cursor: default;

  &::before {
    background-color: $light_grey;
  }

  &::after {
    background-color: $lightest_grey;
  }

  &::before,
  &::after {
    border: none;
  }
}

.catalog__checkbox-item input[type="checkbox"]:disabled:checked + .catalog__checkbox-label {
  &::after {
    background-color: $base_grey;
  }
}

.catalog__submit-wrapper {
  text-align: center;
}

.catalog__submit-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__submit-item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__filter-button {
  min-width: 280px;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
  box-sizing: border-box;

  &_reset {
    color: $base_primary;
    background-color: $base_white;

    &:hover,
    &:focus {
      color: $base_white;
    }

    &:disabled {
      color: $base_white;
      background-color: $light_grey;
    }
  }
}

.catalog__sort {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.catalog__sort-title,
.catalog__sort-categories {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.catalog__sort-categories {
  font-family: Montserrat;
  position: relative;
  color: $base-primary;
  box-sizing: border-box;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
  min-width: 165px;
  padding: 4px 26px 4px 10px;
  transform: translateX(7px);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-top: 2px solid #7859cf;
    border-right: 2px solid;
    transform: rotate(135deg);
  }

  &:hover {
    background-color: $base_secondary;
  }

  &:active {
    background-color: transparent;
  }

  &:active::after {
    transform: rotate(-45deg);
    top: 15px;
  }
}

.catalog__products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog__product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $base_white;
  border-radius: 4px;
  padding: 40px 20px 20px;
  width: 280px;
  box-sizing: border-box;

  picture {
    align-self: center;
    margin-bottom: 24px;
  }
}

.catalog__product-title {
  color: $base-black;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 4px;
}

.catalog__description {
  margin-top: 0;
  margin-bottom: 16px;
}

.catalog__order-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.catalog__button {
  position: relative;
  text-align: right;
  width: 141px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../images/catalog-cart.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    left: 22px;
    width: 20px;
    height: 16px;
  }
}

.catalog__pagination {
  margin-bottom: 44px;
}

.catalog__pagination-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.catalog__pagination-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: $base-primary;
  background-color: $base_white;
  min-width: 40px;
  min-height: 40px;
  padding: 8px;
  box-sizing: border-box;

  &_prev,
  &_next {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-top: 2px solid $base_primary;
      border-right: 2px solid;
      top: 17px;
    }

    &:hover::before,
    &:focus::before {
      border-top: solid $base_white;
    }
  }

  &_prev {
    &::before {
      transform: rotate(-135deg);
      left: 16px;
    }
  }

  &_next {
      &::before {
        transform: rotate(47deg);
        left: 15px;
      }
  }

  &:hover,
  &:focus {
    color: $base_white;
    background-color: $primary_lighter;
  }

  &:active {
    background-color: $primary_darker;
  }

  &_disabled {
    color: $base_white;
    background-color: $light_grey;

    &::before {
      border-top: solid $base_white;
    }
  }

  &_current {
    font-weight: 600;
    color: $base_black;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      color: $base_black;
      cursor: default;
    }
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 79px;
  }

  .catalog__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 20px;
  }

  .catalog__filter-wrapper {
    grid-template-columns: 225px 1fr 1fr;
    gap: 22px;
    margin-bottom: 7px;
  }

  .catalog__filter-title {
    margin-bottom: 19px;
  }

  .catalog__submit-list {
    display: flex;
    justify-content: center;
    margin-right: 22px;
  }

  .catalog__submit-item {
    margin-bottom: 0;
    margin-right: 30px;

    @media (min-width: $desktop-width) {
      margin-right: 7px;
    }
  }

  .catalog__filter-button {
    padding: 8px 20px;
    min-width: 0;
  }

  .catalog__products {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 95px;
  }

  .catalog__product-wrapper {
    width: 349px;
    padding: 50px 30px 30px;
  }

  .catalog__sort {
    justify-content: end;
    gap: 15px;
    padding-right: 5px;
  }

  .catalog__pagination-items {
    justify-content: flex-end;
  }

  .catalog__pagination-link {
    &_prev,
    &_next {
      width: 91px;

      &::before {
        border: none;
        transform: none;
        top: 7px;
        width: 0;
      }
    }

    &_prev {
      &::before {
        content: "Назад";
        left: 20px;
      }
    }

    &_next {
      &::before {
        content: "Вперед";
        left: 13px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 99px;
  }

  .catalog__title {
    margin-bottom: 39px;
  }

  .catalog__filter-wrapper {
    grid-template-columns: 318px;
    margin-bottom: 20px;
    gap: 29px;
  }

  .catalog__filter-fieldset {
    padding-bottom: 0;
  }

  .catalog__checkbox-item {
    margin-bottom: 19px;
  }

  .catalog__submit-list {
    justify-content: space-between;
    margin-right: 0;
    margin-top: 35px;
  }

  .catalog__submit-item {
    margin-right: 7px;
  }

  .catalog__filter-button {
    width: 149px;
  }

  .catalig__products {
    padding-bottom: 120px;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 10px;
  }

  .catalog__product-wrapper {
    width: 317px;

    &:hover {
      box-shadow: 0 5px 15px rgba(0,1,1,.1);
    }
  }

  .catalog__sort {
    padding-right: 38px;
}

  .catalog__pagination-items {
    padding-right: 40px;
  }
}
