.map {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../../images/map/map-pin.svg");
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 38px;
    height: 50px;
    top: 186px;
    left: 156px;
  }
}

@media (min-width: $tablet-width) {
  .map {
    &::before {
      top: 212px;
      left: 380px;
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    &::before {
      top: 246px;
      left: 716px;
    }
  }
}
